script(type='text/javascript', src='/javascripts/jquery.min.js')
script(type='text/javascript', src='/vendor/bootstrap/bootstrap/js/bootstrap.min.js')
script(type='text/javascript', src='/javascripts/bootbox.js')
