script(type='text/javascript', src='/javascripts/jquery.min.js')
script(type='text/javascript', src='/vendor/bootstrap/bootstrap/js/bootstrap.min.js')
script(type='text/javascript', src='/javascripts/bootbox.js')
script(type="text/javascript", src="/javascripts/jquery.tagsinput.js")
script(type="text/javascript", src="/javascripts/site.js")
