extends ../layouts/default

block main
	.row
		.span6(style='margin-left:0px;')
			.pull-left
				h3=title
		.span6(style='margin-left:0px;')
			.pull-right
				div 
					= count
					= " Uploaded"
block content
