extends ../layouts/default

block main
	.row
		.span6
			.pull-left
				h3=title
		.span6
			.pull-right
				div 
					if (req.isAuthenticated())
						a.btn.btn-success(href="/casts/new") New Cast
block content
	.row
		each cast in casts
			.span4 
				a(href="casts/"+cast._id) Test
