extends ../layouts/default

block main
	.row
		.span6
			.pull-left
				h3=title
		.span6
			.pull-right
				div
block content
	form.signup.form-horizontal(action="/casts", method="post")
		.control-group.well
			div
				h4 General
			label.control-label(for='name') Name
			.controls
				input#name(type='text', name="name", placeholder='Name')
			label.control-label(for='email') Description
			.controls
				input#description(type='text', name="description", placeholder='Description')
		.control-group.well
			div
				h4 Video
			label.control-label(for='email') Poster
			.controls
				input#url(type='text', name="video[poster]", placeholder='Poster')
			label.control-label(for='email') Auto Resize
			.controls
				input#url(type='text', name="video[autoResize]", placeholder='Auto Resize')
			div
				h4 Source 1
			label.control-label(for='src') src
			.controls
				input#url(type='text', name="video[source][src]", placeholder='src')
			label.control-label(for='quality') Quality
			.controls
				input#url(type='text', name="video[source][quality]", placeholder='Quality')
			div
				h4 Source 2
			label.control-label(for='src') src
			.controls
				input#url(type='text', name="video[source][src]", placeholder='src')
			label.control-label(for='quality') Quality
			.controls
				input#url(type='text', name="videos[source][quality]", placeholder='Quality')
		.form-actions
			button.btn.btn-primary(type='submit') Create Cast